html, body {
  height: 100%;
  width: 100%;
}

.row {
  background-image: url(../images/bk2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 54px;
}

.column {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#c1 {
  font-size: 30px;
  margin-top: 30px;
  color: white;
}

#c2 {
  margin-top: 20px;
  color: white;
  font-size: 18px;
}

#c3 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 52vh;
  width: 480px;
  opacity: 0.7;
}

#c31 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#c311 {
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#c312 {
  margin-top: 10px;
  margin-right: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#c32 {
  color: whitesmoke;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#c33 {
  margin: 10px 20px;
}

.c33-text {
  width: 100%;
}

#c34 {
  margin: 10px 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#c341 {
  color: white;
  width: 200px;
  background-color: teal;
  border-radius: 4px;
  margin: 10px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#c35 {
  color: wheat;
  margin-top: 2px;
  margin-left: 178px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#c36 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#c361 {
  margin-bottom: 20px;
  margin-left: 20px;
}

#c362 {
  padding: 5px;
  margin-bottom: 20px;
}

#c4 {
  margin-top: 30px;
  color: white;
}

#c5 {
  margin: 10px 5px;
  color: white;
  background-color: teal;
  border-radius: 4px;
  width: 100px;
}

#c51 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=login.css.map */