.container-fluid{
    border: solid 1px;
    background-color: whitesmoke;
}
card{
    display: inline-block;
    
}
   
img{
       width: 277px;
       height: 200px;
       margin: auto;
     }

$card-height: 100%