.image{
    height:auto;
    width:auto;
   
}
card-group{
    justify-content: center;
    margin:auto;
    margin-bottom: 30px;
}

.card-text{
color: gray;
    font-size: 12px;
    font-weight: 100;
}

#id{
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    background-color: white;}

    img{
        height:auto;
        width:auto;
    }
    #side1{
      //  background-color:lightgrey;
        height: auto;
       background-image: linear-gradient(grey,lightgrey);
       border: 1px solid black;
    }
    #side1 ul{
        list-style: none;
       padding:1px;
       margin:1px;
    
    }
    #side1 ul li a{
         color: white;
         text-decoration: none;
         padding:10px;
         display: block;
         border-bottom: 1px solid black;
    }
    #side2{
        height: auto;
    }
    #wrapper{
        background-color:gainsboro;
    }
    
  
    #btn{
       
        position: absolute;
    }